<p style="font-size: 0.875rem; color: #5c5c5c; text-align: center; margin-top: 2rem;">
    {% if site.gh_edit_link and page.path %}
  <a href="{{ site.gh_edit_repository }}/{{ site.gh_edit_view_mode }}/{{ site.gh_edit_branch }}/{{ page.path }}" style="color: #4b6874;">Edit this page</a> · 
  {% endif %}
<strong>DTRG</strong> · University of Auckland · © {{ 'now' | date: "%Y" }} · 
  <a href="https://dtrg.org/" style="color: #4b6874;">Website</a> · 
  <a href="https://dtrg.org/index.php/sample-page/contact/" style="color: #4b6874;">Contact</a>
</p>
